### **Python-Basics-for-Data-Science - May 21, 2025**- ##### **Week One: this file contains the following operation**
  -  Variables,
  -  Data types,
  -  Basic operations, and
  -  Python syntax.

##### **Variables:**
- Python variables are simply containers for storing data values. Unlike other languages, such as Java, Python has no command for declaring a variable, so you create one the moment you first assign a value to it.

##### Examples:

In [1]:
var_1 = 5 #integer variable
var_2 = 2 #integer variable

var_3 = var_1 * var_2
var_3

10

In [2]:
#Trying to add two numbers
# one "=" is to assign a value to a variable
# In this case, alphabets are variables and numbers are values
# Variables cannot begin with numbers

a = 20
b = 30
c = a*b

print(a if a >= b else b if b == a else c)

600

##### **Python Basics**
1. Work with variables
2. Perform basic operations
3. Use list to store multiple values

In [3]:
# Python Variables
# Variables are containers for storing data values. Examples

a = 16                # int var
b = "love"            # str var
c = 3.0               # float var

d = int(20)
e = str(20)
f = float(20)
g = True #boolean T/F

print(a,b,c,d,e,f,g)

16 love 3.0 20 20 20.0 True

In [4]:
# Veryfying the data types
print(type(a),type(b),type(c),type(d),type(e),type(f),type(g))

<class 'int'> <class 'str'> <class 'float'> <class 'int'> <class 'str'> <class 'float'> <class 'bool'>

In [5]:
#Basic operations
a = 10
b = 20
c = 5

sum = a+b
sub = a-b
div = b//a
mult = a*b

print(sum,sub,div,mult)

30 -10 2 200

In [6]:
#Assigning many values to multiple variables
a, b, c = "lateef", "mutiat", "children"

a

'lateef'

In [7]:
#Class work
#Create a list with fruit names in it
#then print that using this line of statement
#"This is a list"

#Answer
my_list = ["apple", "banana", "cherry", "mango", "orange"]
print("This is a list:",my_list, my_list[4])
print("The length of my list is:",len(my_list))

This is a list: ['apple', 'banana', 'cherry', 'mango', 'orange'] orange
The length of my list is: 5

### Data Structure
#####  **Python List Class**

In [11]:
#Creating a list for practice
l1 = list((2,34,'a','b',True, False))

#printing my list
l1

[2, 34, 'a', 'b', True, False]

In [12]:
#Accessing my list index

l1[2], l1[-4:-1]

('a', ['a', 'b', True])

In [13]:
#Changing element in a python List 
for b in l1:
    l1[3]="c"

l1

[2, 34, 'a', 'c', True, False]

In [14]:
#insert method in a List
fruits = ['apple','orange','kiwi', 'mango', 'banana', 'pear']

fruits.insert(2, 'goave') #Using insert function to add a value
print(fruits) #Printing

['apple', 'orange', 'goave', 'kiwi', 'mango', 'banana', 'pear']

In [15]:
#adding a value at the end of my List
fruits.append("tangarin")

fruits

['apple', 'orange', 'goave', 'kiwi', 'mango', 'banana', 'pear', 'tangarin']

In [16]:
#To add a new list to my original List
emp=['tom', 'bob', 'shawn', 'andy']
new_emp = ['rob','john','peter']

#concat the lists
emp+new_emp

['tom', 'bob', 'shawn', 'andy', 'rob', 'john', 'peter']

In [17]:
#Another method is extend function to join the values
emp.extend(new_emp)

emp

['tom', 'bob', 'shawn', 'andy', 'rob', 'john', 'peter']

In [18]:
#To add another value
emp.insert(3, 'andy')

emp

['tom', 'bob', 'shawn', 'andy', 'andy', 'rob', 'john', 'peter']

In [19]:
#Removing a value
emp.remove('andy')
emp

['tom', 'bob', 'shawn', 'andy', 'rob', 'john', 'peter']

In [20]:
#Python Filter is an approach to remove many same words

In [21]:
#removing an element using index position using del function
del emp[2]
emp

['tom', 'bob', 'andy', 'rob', 'john', 'peter']

In [22]:
#Using pop function to remove more than a value (Working on this later)
#Sorting my list

emp.sort()
emp.sort(reverse=True)

emp

['tom', 'rob', 'peter', 'john', 'bob', 'andy']

In [23]:
#another example
dept=['hr', ['acc','it'], 'acc', 'math']

dept[1][0]

'acc'

In [24]:
#Creating pop variable for later use
emp_pop=emp.pop(2)

In [25]:
emp_pop

'peter'

In [116]:
emp

['tom', 'rob', 'bob', 'andy']

#### **Another Data Structure**

**################ Tupple ###############**

In [117]:
t1 = (1,2,3,'hello',78.9,True,False)
type(t1)

tuple

In [172]:
t2 = tuple((1,2,3,'hello',78.9,True,False))

type(t2)

tuple

In [173]:
#accessing an element from the tuple
t2[1:4]

(2, 3, 'hello')

In [174]:
#manipulating a tuple
x=list(t2) #changing a tuple to a list data structure to enable manipulation

x[3]='welcome'
t2=tuple(x)

t2

(1, 2, 3, 'welcome', 78.9, True, False)

In [175]:
#manipulating tuple

y=list(t1)
y

[1, 2, 3, 'hello', 78.9, True, False]

In [176]:
y.insert(2,'Lateef') #insertion a value into my new list
y

[1, 2, 'Lateef', 3, 'hello', 78.9, True, False]

In [177]:
del y[4]
y

[1, 2, 'Lateef', 3, 78.9, True, False]

In [178]:
li_pop = y.pop(3)

li_pop

3

In [179]:
t2=tuple(y)
t2

(1, 2, 'Lateef', 78.9, True, False)

In [180]:
z = list(t2)
z.remove(1)
z.append('Khadijah')

z

[2, 'Lateef', 78.9, True, False, 'Khadijah']

#### **Unpacking a tuple**

In [181]:
#unpacking a tuple: assigning the element of a tuple to a variable

fruits = ('apple','orange','kiwi', 'mango', 'banana', 'pear')

type(fruits)

tuple

In [182]:
#unpacking tuple: the asteric sign assign other values into variable "b"
a,*b,c = fruits

In [183]:
b

['orange', 'kiwi', 'mango', 'banana']

In [184]:
a

'apple'

In [185]:
c

'pear'

In [186]:
#adding tuples
fruits

('apple', 'orange', 'kiwi', 'mango', 'banana', 'pear')

In [187]:
t2

(1, 2, 'Lateef', 78.9, True, False)

In [188]:
t3=t2+fruits

t3

(1,
 2,
 'Lateef',
 78.9,
 True,
 False,
 'apple',
 'orange',
 'kiwi',
 'mango',
 'banana',
 'pear')

In [192]:
t4=(1,2,3,4,5)

t5 = t4*2

t5.count(3) #count number of 3 in my tuple

2

In [193]:
#Slicing in tuple
t3[2:5]

('Lateef', 78.9, True)

In [200]:
#Performing mathematical multiplication with tuple
tt1 = (1,2,3,4,5,6,7,8,9)

t_mult = list(tt1)

t_mult2 = int(2)

t_mult1=t_mult*t_mult2

t_mult1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### **Another Data Structure     Sunday, 23rd of February, 2025**

**################ Dictionary ###############**

#### **What is a python dictionary**

- Dictionaries are used to store data values in key:value pairs.
- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
- Another word used for a python dictionary is **"hashmap"**
- We use **{}** to create a dictionry
- dictionary accepts duplicate value but does not accepts duplicate keys

  
### **-Operations on Dictionary**

In [1]:
#Example of a Dictionary
dict1={'tom':32, 'bob':30, 'andy':31, 'rob':30}
type(dict1)

dict

In [2]:
#checking the number of key values in my dictionary (len function)
len(dict1)

4

In [3]:
#using a contructor called dict
dict2 = dict([('acc',10), ('hr',5), ('IT',50)])
type(dict2)

dict

In [4]:
dict2

{'acc': 10, 'hr': 5, 'IT': 50}

In [5]:
dict1

{'tom': 32, 'bob': 30, 'andy': 31, 'rob': 30}

In [7]:
#Creating single key with multiple values dictionary
emp={'Name':['tom','bob','prince'],
    'Dept':['IT', 'ACC', 'Hr'], 'Salary':[798, 687, 575]}
type(emp)

dict

In [8]:
#How to access element/value from a dictionary
#to investigate how many department I have in my dictionary
#With this 

emp['Name']

['tom', 'bob', 'prince']

In [27]:
#using key we can access the value from dictionary
#example
dict1.get('andy') #using get method to access a value in the dict

In [37]:
#accessing other keys from the dictionary
dict1.keys()

dict_keys(['tom', 'bob'])

In [38]:
#accessing the values in the dictionary
dict1.values()

dict_values([32, 30])

In [39]:
#How to change a value in a dictionary
dict1['andy']=32
dict1

{'tom': 32, 'bob': 30, 'andy': 32}

In [40]:
#To update a value in my dictionary
dict1.update({'rob':35})
dict1

{'tom': 32, 'bob': 30, 'andy': 32, 'rob': 35}

In [41]:
#deleting a value from the dictionary
del dict1['andy']
dict1

{'tom': 32, 'bob': 30, 'rob': 35}

In [42]:
#Popping a key from the dictionary
pop_rob = dict1.pop('rob')

In [43]:
pop_rob

35

In [44]:
dict1

{'tom': 32, 'bob': 30}

In [45]:
#How to copy a dictionary
dict3 = dict1.copy()

dict3

{'tom': 32, 'bob': 30}

In [46]:
#updating a dictionary
dict3.update({'thor':34})
dict3

{'tom': 32, 'bob': 30, 'thor': 34}

In [47]:
dict1

{'tom': 32, 'bob': 30}

In [49]:
#updating the dict1
dict1.update({'lateef':40, 'mutiat':32})

In [50]:
dict1

{'tom': 32, 'bob': 30, 'lateef': 40, 'mutiat': 32}

In [51]:
#adding more keys and values
dict1['khadijah']=9
dict1['abdullah']=6

In [52]:
dict1

{'tom': 32,
 'bob': 30,
 'lateef': 40,
 'mutiat': 32,
 'khadijah': 9,
 'abdullah': 6}

In [53]:
#another way to create a dictionary
x = ('k1', 'k2','k3')
y = (0,1,2)

dict4 = dict.fromkeys(x,y)
dict4

{'k1': (0, 1, 2), 'k2': (0, 1, 2), 'k3': (0, 1, 2)}

#### **Another Data Structure     Sunday, 23rd of February, 2025**

**################ Set ###############**

## **What is a python set**

**Sets are used to store multiple items in a single variable.**

 - Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.
 - A set is a collection which is unordered, unchangeable*, and unindexed.

In [66]:
#Creating a set using set con
set1 = set({1,2,3,4,5,"hello",67.6,True,False})

In [67]:
set1

{1, 2, 3, 4, 5, 67.6, False, 'hello'}

In [68]:
#another way 
set2 = {1,2,3,4,5,"hello",67.6,True,False}

In [69]:
#adding a value ot the set
set2.add('banana')

In [70]:
set2.add(6)
set2

{1, 2, 3, 4, 5, 6, 67.6, False, 'banana', 'hello'}

In [71]:
#creating another subject
subject={'math', 'science','commerce','english'}
sub_new={'computer','machine_learning'}

#updating the set
subject.update(sub_new)

subject

{'commerce', 'computer', 'english', 'machine_learning', 'math', 'science'}

In [72]:
#Removing an element from set
subject.remove('commerce')
subject

{'computer', 'english', 'machine_learning', 'math', 'science'}

In [80]:
#performing other operations with union method in set
fruit_set={'apple', 'banana','kiwi','tomato','oranges'}
veggies={'lemon','tomato','chilly'}

fruit_set_1=fruit_set.union(veggies)

In [81]:
fruit_set_1

{'apple', 'banana', 'chilly', 'kiwi', 'lemon', 'oranges', 'tomato'}

In [82]:
fruit_set

{'apple', 'banana', 'kiwi', 'oranges', 'tomato'}

In [83]:
#set difference
set5=fruit_set.difference(veggies)
set5

{'apple', 'banana', 'kiwi', 'oranges'}